body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	font-family: Verdana, Helvetica, serif;
}

h3 {
	padding-left: 16px;
	font-family: Verdana, Helvetica, serif;
}

p {
	padding-left: 20px;
}

p a {
	color: #A32638;
}

.images {
	position: relative;
	width: 400px;
	height: 200px;
	margin: 0 auto;
}

#construction {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	z-index: -1;
}

#notlogo {
	max-width: 200px;
	max-height: 200px;
	margin-left: 100px;
	position: absolute;
	z-index: -2;
}

#logo {
	max-width: 400px;
	max-height: 400px;
	position: absolute;
	z-index: -1;	
}

.menuBar {
	background-color: #A32638;
	margin: 4px auto 4px auto;
	padding: 4px 0 4px 0;
	border: 4px solid #9A989A;
	border-radius: 4px;
	text-align:center;
}

.mainText {
	background-color: white;
	margin: 16px auto 16px auto;
	padding: 16px;
	box-shadow: 0px 0px 4px black;
	border-radius: 4px;
	width: 80%;
	height: 100%;
}

.mainText > form > div {
	display: block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.menuBar > ul {
	list-style: none;
	display: inline-block;
	margin: auto 16px auto 1px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
}

.menuBar > ul > li{
	padding: 15px 40px;
	float: left;
}

.submenu > ul{
	position: absolute;
	display: none;
	margin: 0;
	float: left;
	z-index: 100;
}

.submenu > ul > li {
	list-style: none;
	background-color: white;
	color: black;
	padding: 10px;
}

input {
	margin-left: 50px;
}

label {
	font-family: Roboto, Helvetica, serif;
}

.center {
	text-align: center;
}

LI a {
	text-decoration: none;
	color: white;
}

@media only screen and (min-width:999px) {
	.submenu:hover 	ul{
		display: block;
	}
	.submenu > ul > li:hover 
	{
		background-color: #f3f3f3;
	}
	.submenu > ul > li > a 
	{
		color: black;
	}
}

@media only screen and (max-width:998px) and (min-width:400px) {
	.menuBar {
		margin: auto;
	}
	.menuBar > ul > li{
		padding: 5px;
	}
	.submenu:hover 	ul{
		display: block;
	}
	.submenu > ul > li:hover 
	{
		background-color: #f3f3f3;
	}
	.submenu > ul > li > a 
	{
		color: black;
	}
}

@media only screen and (max-width:399px) {
	.menuBar > ul{
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
	}
	.submenu {
		display: flex;
		flex-direction: column;
	}
	.submenu > ul{
		margin: 0;
		padding: 0;
		display: block;
		position: relative;
		left: 0;
	}
	.submenu > ul > li {
		margin: 16px 0 0 0;
		padding: 0;
		background-color: transparent;
		font-size: 14px;
	}
	.submenu > ul > li:hover a{
		color: #A9A9A9
	}
	.images {
		width: 200px;
		height: 100px;
	}
	#logo {
		max-width: 200px;
		max-height: 200px;
	}
	#notlogo {
		max-width: 100px;
		max-height: 100px;
		margin-left: 70px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 15px;
	}
	label {
		font-size: 11px;
	}
}